
    <section>
      <div class="container mt-5">
        <div class="row">
            {{#each data}}
            <div class="col-md-3">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="{../../images/{{this._id}}.jpg" alt="Card image cap"/>
              <div class="card-body">
                <h5 class="card-title">{{this.product_name}}</h5>
                <p class="card-text">{{this.category}}</p>
                <a href="#" class="btn btn-primary">Add to cart</a>
            </div>    
          </div>
        </div>
        {{/each}}
    </div>
</section>
   